body {
    background-color: #4C5958;
    font-family: 'Andika', sans-serif;
}

#container {
    background-color: #FACFCE;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px #000;
}
header{
    padding: 20px 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #8AA6A3;
}

header img {
    display: block;
    width: 30%;
    margin: 20px auto;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    color: #10403B; 
    text-shadow: 2px 2px 2px #000;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #FACFCE;
    padding-top: 10px;
    text-align: center;
    font-family: 'Andika', sans-serif;
}

nav a {
    display: inline-block;
    background-color: #8AA6A3;
    height: 50px;
    width: 150px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Andika', sans-serif;
    line-height: 50px;
    color: #023535;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover {
    background-color: #4C5958;
    color: #8AA6A3;
    font-family: 'Andika', sans-serif;
}

main {
    background-color: #8AA6A3;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

main h2 {
    text-align: center;
    color: #10403B;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

main h3 {
    text-align: center;
    color: #10403B;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

main img {
    background-color: #4C5958;
    display: block;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

main p {
    text-align: center;
    color: #10403B;
    font-size: 1.25em;
    font-family: 'Andika', sans-serif;
}

footer{
    background-color: #8AA6A3;
    padding: 20px 0;
    color: #FACFCE;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Andika', sans-serif;
    border-radius: 0 0 20px 20px;
}

.main_footer {
    background-color: #8AA6A3;
    padding: 40px 0;
    color: #FACFCE;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Andika', sans-serif;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color: #4C5958;
    color: #8AA6A3; 
    font-family: 'Andika', sans-serif;
}

.pro_head {
    text-align: center;
    color: #10403B;
    font-size: 1.5em;
    font-family: 'Andika', sans-serif;
}

.list_links {
    font-size: 1.5em;
    font-family: 'Ankida', sans-serif;
}

.list {
    color:  10403B;
}