/* Global Styles */

body {
    background-color: #F3ECE6;
}

img, video, iframe, audio {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

header ul, .content img, .content, .col, .col img, .button, footer, iframe {
    /* Border Style */
    background-color: #242424;
    border: 2px solid #D9D2BF;
    border-radius: 20px;
    margin: 2.5% 5% 2.5% 5%;
    color: #EFE8D0;
    width: 89%; 
}

.col h2, .col a, .content h2 {
    text-align: center;
}

.col img {
    background-color: #212121;
    border-color: #212121;
    width: 89%;
}

.button {
    display: block;
    background-color: #212121;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 10px; 
}

.button:hover, header h1:hover, header a:hover {
    background-color: #420e0e;
    text-shadow: 2px 2px 2px #000; 
    border-radius: 10px;
}

.underscore {
    text-decoration: underline;
}

p a {
    color: #ab0909;
}

/* Mobile Styles */

#container {
    background-color: #2B2B2B;
    margin: 2px;
    border-radius: 10px;
}

header {
    padding: 2.5% 0;
    text-align: center;
}

h2 {
    font-size: 1.75em;
    color: #EFE8D0;
}

h1 a {
    text-decoration: none;
    color: #EFE8D0;
}

header ul, footer {
    list-style: none;
    padding: 0%; 
    border-radius: 10px;
    background-color: #242424;
    min-width: 200px;
    text-align: center;
}

header li {
    display: inline;
    
}

header li a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    font-size: .75em; 
    color: #EFE8D0;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    padding: 2.5%;
}

.tablet, .flexbox_desktop {
    display: none;
}

/* Tablet Styles */

@media(min-width: 768px) {

    .mobile, .flexbox_desktop {
        display: none;
    }
    
    .tablet {
        display: block;
    }

    header h1 {
        font-size: 3em;
    }

    header li a {
        font-size: 1.5em;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    header h1:hover, header a:hover {
        border-radius: 15px;
    }

    #lower_flex, #lower_flex2 {
        display: flex;
    }
    
    .tablet .col3 {
        display: flex;
        flex-direction: column;
        min-height: 740px;
        min-width: 225px;
    }

    .tablet .media {
        align-self: flex-end;
        margin-top: auto;
    }

    .tablet .col2 {
        min-width: 360px;
        min-height: 450px;
        margin-right: 10px;
        margin-left: 10px; 
    }
    
}

/* Computer Styles */

@media(min-width: 1024px) {

    .mobile {
        display: none;
    }
    
    .tablet, .flexbox_desktop {
        display: block;
    }
    
    header h1 {
        font-size: 6em;
    }

    header li a {
        font-size: 2em;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    header h1:hover {
        border-radius: 30px;
    }

    p {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    .button {
        font-size: 2em;
    }

    #lower_flex, #lower_flex2 {
        display: none;
    }

    .flexbox_desktop {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .col {
        display: flex;
        flex-direction: column;
        margin: 1%;
        min-height: 730px;
    }
    
    .button {
        align-self: flex-end;
        margin-top: auto;
    }

    .tablet .col3 {
        min-height: 1100px;
    }

    table .centering {
        width: 50%;
    }

    .table_img {
        margin: auto;
    }

    .tablet .col2 {
        min-height: 670px;
        margin: auto;
    }
    

}