body {
    background-color: #466280;

}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #D7E9FD;
    margin: 5%;
    width: 90%;
}

header {
    padding: 5%;
    border-bottom: 4px solid #466280;
}

header h1{
    text-align: center;
    font-size: 2em;
    color: #466280;
    font-family: 'Raleway', sans-serif;
}

.col {
    border: 4px solid #8BC2FC;
    padding: 5%;
    margin: 5%;
    border-radius: 20px;
}

.col h2 {
    text-align: center;
    font-size: 1.5em;
    color: #466280;
    font-family: 'Raleway', sans-serif;
}

.col img {
    background-color: #466280;
    width: 80%;
    padding: 5%;
    border-radius: 20px;
}

.col p {
    color: #365A80;
    font-family: 'Andika', sans-serif;
}

.main_img {
    display: none;
}

footer {
    padding: 5%;
    text-align: center;
    border-top: 5px solid #466280;
    font-weight: bold;
    color: #466280;
    font-family: 'Raleway', sans-serif;
}

@media(min-width: 768px) {

    header h1 {
        font-size: 4em;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
    }

    #container {
        width: 85%;
        margin: 7% auto;
    }

    .col {
        width: 75%;
        margin: 5% auto;
    }

    .col h2 {
        font-size: 2.5em;
        font-family: 'Raleway', sans-serif;
    }

    .col img {
        background-color: #466280;
        width: 75%;
        padding: 3%;
        border-radius: 24px;
    }

    .col p {
        font-size: large;
        font-family: 'Andika', sans-serif;
    }

    footer {
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
    }
}

@media(min-width: 1024px) {

    #container {
        width: 90%;
    }

    header h1 {
        font-size:  8em;
        font-family: 'Raleway', sans-serif;
    }

    #flex {
        display: flex;
    }
    
    .col {
        margin: 2.5%;
    }

    .col h2 {
        font-size:  4em;
        font-family: 'Raleway', sans-serif;
    }

    .col img {
        width: 70%;
    }

    .col p {
        font-size: x-large;
        font-family: 'Andika', sans-serif;
    }

    .main_img {
        display: block;
        background-color: #365A80;
        height: 5%;
        width: 35%;
        margin: 5% auto;
        padding: 2.5%;
        border-radius: 20px;
    }

    footer {
        padding:  2.5%;
        font-size: xx-large;
        font-family: 'Raleway', sans-serif;
    }
}